// Variables

// Colors
$white : #fff;
$black: #000;
$red : #E30707;
$green : #11A73F;
$gray : hsl(0, 0%, 80%);
$blue : #1070D1;
$blue-light: #0f97ff;

// Font-family
$font-primary : 'Open Sans', sans-serif;

